{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Registro | {{ block.super }}{% endblock %}

{% block container %}
    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Registro</h1>
                  </div>
                  <form class="user" method="post">
                    {% csrf_token %}
                    {% for error in form.non_field_errors %}
                      <div class="alert alert-danger">
                        {{ error }}
                      </div>
                    {% endfor %}
                      <fieldset>
                        {% for field in form %}
                            <div class="form-group">
                              {% render_field field class="form-control form-control-user" placeholder=field.label %}
                              {% for error in field.errors %}
                                <span class="help-block">{{ error }}</span>
                              {% endfor %}
                            </div>
                        {% endfor %}

                        <div class="form-group">
                              <button type="submit" class="btn btn-primary btn-user btn-block">Registrar</button>
                          </div>
                      </fieldset>
                  </form>
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
{% endblock %}

