{% extends 'base.html' %}

{% block container %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Estação: {{ station.samplingfeaturename }}</h1>
    </div>
    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Informações</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Mínima</h6>
                    </div>
                    {% for feature in features %}
                        <p><a class="m-0 font-weight-bold text-primary"
                              href="{% url 'core:result_station' feature.featureactionid %}">{{ feature.action.method.methodname }}</a>
                        </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}