<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block container %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">
            Estação: {{ sampling.samplingfeaturename }}
        </h1>
    </div>
    <div class="row justify-content-center">
    <!-- Area Chart -->
        <div class="col-xl-8 col-lg-12">
            <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Indicadores de Alteração Hidrológica</h6>
                </div>
                <div class="card-body">
                    <div>
                        <h4>{{ year_water }}</h4>
                        <div class="page-header">
                            <form class="form-horizontal" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <fieldset>
                                    {% for field in form %}
                                        <div class="form-group">
                                            <label for="{{ field.auto_id }}" class="col-md-9 control-label required">
                                                {{ field.label }}
                                            </label>
                                            <div class="col-md-9">
                                                <div class="related-widget-wrapper">
                                                    {{ field|add_class:'form-control' }}
                                                </div>
                                            </div>

                                        </div>
                                    {% endfor %}
                                </fieldset>
                                <div class="col-5">
                                    <button type="submit" class="btn btn-primary btn-user btn-block">Executar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
